*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    
    
}
h1{
    text-align: center;
    color: green;
}
p{
    color: black;
    font-size: large;
   text-align: center;
}
.image{
   
    gap: 50px;
    max-width: 120%;

    display: flex;
    margin-left: 22px;
    margin-right: 10px;
    
}
@media only screen and (max-width: 600px){
    .image{
        max-width: 100%;
        height: auto;
overflow: hidden;
        display: grid;
        
    }
}